<!doctype html>
<html lang="pt-br">
  <head>
    <title>GR!TTA | Drop</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="../../statics/img/icons/loja-icon.png" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/global.css" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/pages/drop.css" />
    <script src="../../statics/js/components.js" defer></script>
    <script src="../../statics/js/config.js" defer></script>
    <script src="../../statics/js/menu.js" defer></script>
    <script src="../../statics/js/pages/drop.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet" />
  </head>

  <body>
    <gritta-header></gritta-header>

    <main class="destaques">
      <h2 id="titulo-drop" class="secao-titulo">LANÇAMENTOS</h2>
      <div class="vitrine" id="vitrine-drop">
        <p class="loading">Buscando as novidades...</p>
      </div>
    </main>

    <gritta-footer></gritta-footer>
  </body>
</html>
