<!doctype html>
<html lang="pt-br">
  <head>
    <title>GR!TTA | Início</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="../statics/img/icons/loja-icon.png" />
    <link rel="stylesheet" type="text/css" href="../statics/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/global.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/menu.css" />
    <script src="../statics/js/components.js" defer></script>
    <script src="../statics/js/config.js" defer></script>
    <script src="../statics/js/menu.js" defer></script>
    <script src="../statics/js/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet" />
  </head>

  <body>
    <gritta-header></gritta-header>

    <!-- Inicio do Banner da loja -->
    <main>
      <div class="banner">
        <div class="banner-conteudo">
          <h2>A MELHOR LOJA DE ROUPAS</h2>
          <p>Nova Coleção de Inverno</p>
          <a href="./pages/drop.html" class="btn-comprar">VER DROP</a>
        </div>
      </div>
    </main>
    <!-- Fechamento do Banner da loja -->

    <!-- Inicio dos card da vitrine -->
    <section class="destaques">
      <h2 class="secao-titulo">Destaques</h2>
      <div class="vitrine">
        <!-- O JavaScript vai preencher com a vitrine dos produtos destaques -->
      </div>
    </section>
    <!-- Fechamento dos card da vitrine -->

    <gritta-footer></gritta-footer>
  </body>
</html>
